* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: ghostwhite;
    margin: 0;
    padding: 0;
}

#mainTitle {
    display: flex;
    font-size: 100px;
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 10px;
}

#mainLogo {
    width: 100px;
    height: 100px;
}

#banner {
    background-color: #6E2594;
    padding: 10px;
    display: flex; /* Allows logo to appear on same line as banner */
    align-items: center;
    justify-content: space-between;
}

a, .bannerList {
    text-decoration: none;
    color: #3F84EF;
}

ul {
    padding-left: 0;
}

.bannerListItem:hover {
    background-color: rgb(138, 138, 141);
}

.pageLink:hover {
    text-decoration: underline;
}

.bannerList {
    font-size: 25px;
    z-index: 3;
}

.bannerListItem {
    padding: 10px;
    margin: 40px;
    display: inline;
    border-radius: 15px;
    background-color: ghostwhite;
}

#contentContainer {
    display: flex;
    flex-flow: row nowrap;
}

#mainContentContainer {
    display: flex;
    flex-flow: column wrap; 
    width: 70%;
}

#rightContent {
    width: 30%;
}

.content {
    margin: 10px;
    font-size: 20px;
    text-align: center;
    border: 2px solid #6E2594;
}

footer {
    background-color: #6E2594;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footerList {
    background-color: none;
    color: ghostwhite;
    list-style: none;
}

.center {
    display: block;
    text-align: center;
}