* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: ghostwhite;
    margin: 0;
    padding: 0;
}

#mainTitle {
    font-size: 100px;
    margin-top: 20px;
}

#mainLogo {
    width: 100px;
    height: 100px;
}

#banner {
    background-color: #6E2594;
    padding: 10px;
    display: flex; /* Allows logo to appear on same line as banner */
    align-items: center;
}

a, ul {
    text-decoration: none;
    color: #3F84EF;
}

.bannerList:hover {
    background-color: rgb(138, 138, 141);
}

.bannerList {
    font-size: 25px;
    list-style-type: none;
    z-index: 3;
    transform: translate(100%,0);
}

.bannerListItem {
    padding: 10px;
    margin: 20px;
    display: inline;
    border-radius: 15px;
    background-color: ghostwhite;
}

#description {
    font-size: 20px;
    text-align: center;
    margin: 20px;
}

footer {
    background-color: #6E2594;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-direction: row;
}

.footerList {
    background-color: none;
    color: ghostwhite;
}

.center {
    display: block;
    text-align: center;
}