@font-face {
    font-family: Nexa-Light;
    src: url(Nexa-ExtraLight.ttf);
}

* {
    font-family: Nexa-Light;
}

body {
    background-color: ghostwhite;
    margin: 0;
    padding: 0;
}

ul {
    padding-left: 0;
}

a {
    text-decoration: none;
    color: #3F84EF;
}

#mainTitle {
    display: flex;
    font-size: 70px;
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 10px;
    /*font-family: Nexa-Heavy;*/
}

#mainLogo {
    width: 100px;
    height: 100px;
}

#banner {
    background-color: #6E2594;
    padding: 10px;
    display: flex; /* Allows logo to appear on same line as banner */
    align-items: center;
    justify-content: space-between;
}

.bannerListItem:hover {
    background-color: rgb(138, 138, 141);
}

.pageLink:hover {
    text-decoration: underline;
}

.bannerList {
    font-size: 25px;
    z-index: 3;
}

.bannerListItem {
    padding: 10px;
    margin: 40px;
    display: inline;
    border-radius: 15px;
    background-color: ghostwhite;
    color: black;
}

.content {
    margin: 10px;
    font-size: 20px;
    text-align: center;
    border: 2px solid #6E2594;
}

footer {
    background-color: #6E2594;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footerList {
    background-color: none;
    color: ghostwhite;
    list-style: none;
}

.center {
    display: block;
    text-align: center;
}

#materials {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

h1 {
    margin-top: 0px;
}

.materialsLists {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 40vw;
    height: 40vh;
}

.materialsItem {
    margin-top: 10px;
    color:black;
    font-size: 20px;
}

.list {
    border-style:solid;
    padding: 20px;
    background-color: #9E55c4;
    margin-bottom: 7%;
}